<html>
  <head>
    <title>TAM Desing</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans: 300, 400, 700"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

  </head>
  <body class=" w-100">
   
    <header class="text-center sticky-top  bg-white">
      <nav class="navbar shadow p-4">
        <div class="container-fluid">
          <a class="navbar-brand m-0 p-0" href="/"><p
              class="logo ms-2 mb-0 p-0"
            >/TAM.</p></a>
          <ul
            class="list-unstyled d-flex align-items-center m-0 pe-5 text-black"
          >
            <li class="nav-item ms-5">
              <a class="nav-link fs-7 activa" href="/quiensoy">/quien soy</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link fs-7 activa" href="/laburos">/laburos</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link fs-7 activa" href="/charlame">/charlame</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link fs-7 activa" href="/admin/novedades">/novedades</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link fs-7 activa" aria-current="page" href="/admin/login">/login</a>
            </li>
          </ul>
        </div>

      </nav>

    </header>
    {{{body}}}
    <footer class="bg-black text-white containerfluid h-25 p-4">
      <div
        class="row mx-5 h-100 justify-content-center align-items-center text-center"
      >
        <div class="col text-start">
          <a href="#" class="logo text-decoration-none text-white">/TAM.</a>
        </div>
        <div class="col">
          <i class="fab fa-instagram"></i>
          <p class="mt-1 fs-6">Tamara Veron Rios - 2023</p>
        </div>
        <div class="col text-end">
          <p>tam.veron.rios@gmail.com</p>
          <p>+54 3434 987659</p>
        </div>

      </div>

    </footer>
  </body>
</html>