{{!-- <body>

  <div class="container d-flex h-75 align-items-center justify-content-around">


    <div class="container d-flex flex-column h-75 w-75 justify-content-center align-items-center m-3 ">
          <div class="t1 position-absolute " >
            <p class=" mb-0">T</p>
          </div>
          <div class=""> <p class="text-center fs-3 fw-bold">TRANSPARENTE</p>        <p class="text-center">/Clave en mí/</p>        <p class="text-center">/en serio/</p>  </div>
    </div>



    <div class="container d-flex flex-column h-75 w-75 justify-content-center align-items-center m-3 ">
            <div class="t1 position-absolute" >
              <p class=" mb-0">A</p>
            </div>
            <div class=""> <p class="text-center fs-3 fw-bold">TRANSPARENTE</p>        <p class="text-center">/Clave en mí/</p>        <p class="text-center">/en serio/</p>  </div>
    </div>



    <div class="container d-flex flex-column h-75 w-75 justify-content-center align-items-center m-3 ">
              <div class="t1 position-absolute " >
                <p class=" mb-0">M</p>
              </div>
               <div class=""> <p class="text-center fs-3 fw-bold">TRANSPARENTE</p>        <p class="text-center">/Clave en mí/</p>        <p class="text-center">/en serio/</p>  </div>
    </div>
    
  </div>
  <div class="d200 w-100 bg-black d-flex ">
    <img src="/images/port.png" alt="" class="h-100 w-100 img">
  </div>
  <div class="h-50 container d-flex align-items-center justify-content-center">
    <p class=" text-lemon">/  la clave <br> es 
sentirse en la libertad de cuestionar <br>
todo  /</p>
  </div>





  <script src="/javascripts/index.js"></script>
</body> --}}
<body>
  <p>CARGO PERFECTO EL INDEX HBS</p>
</body>





















 {{!-- <div class="container d-flex flex-column h-75 w-100 justify-content-center align-items-center m-3">
      <div class="a bg-danger " >
            <p class="mb-0">A</p>
          </div>
          <div class="mx-auto text-center">
            <p class="fs-3 fw-bold">APASIONADA</p>
            <p>/Un montón/</p> 
            <p>/re/</p>
          </div>
    </div>
    <div class="container d-flex flex-column h-75 w-100 justify-content-center align-items-center m-3">
            <div class="m bg-danger">
            <p class="mb-0">M</p>
          </div>
          <div class="mx-auto text-center" >
            <p class="fs-3 fw-bold">MEMORABLE</p>  
            <p>/Me encanta serlo/</p>  
            <p>/sí/</p>
          </div>
    </div> --}}